{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "{Azure Storage Connection String}",
    "AzureWebJobsDashboard": "",
    "EventHubsConnectionString": "{Event Hubs Namespace Connection String}"
  }
}